:root {
    --white: rgb(255,255,255);
    --aqua: rgb(0,255,255);
    --bright-blue: rgb(0, 255, 179);
    --dark-blue: rgb(6, 40, 77);
}

::selection {
    background-color: var(--bright-blue);
    color: var(--dark-blue);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    font-family: sans-serif;
}

header {
    text-align: center;
    /* margin-bottom: 6%; */
    color: var(--aqua);
    margin: 2rem;
    padding: 2rem;
}

header h1{
    font-size: 3.5rem;
}

header p {
    margin-top: 2rem;
}

body {
    background-color: #333337;
    color: rgb(0,191,255);
    margin: 0;
    line-height: 1.5rem;
}

p {
    line-height: 2rem;
    margin: 0.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/* set the flex for the entire page that encloses the individual flex containers */

section.contents {
    /* Just so I can see the bounding edges -  */
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    
}

div.bounding-box {
    /* Just so I can see the bounding edges - */
    /* border: 2px solid cyan; */
    flex: 1 0 100%;
    max-height: 100%;
    margin-bottom: 4rem;
    width: 100%;
}

/* Individual flex containers for each card */

div.card-container {
    border: 2px dashed var(--white);
    border-radius: 2px;
    margin: 1rem;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
    flex-direction: column;

}

/* card titles */

div.card-header {
    border: 1px solid var(--white);
    background-color: #333337;
    border-radius: 8px;
    height: fit-content;
    /* flex: 0 0 75%; */
    width: 75%;
    margin-top: -1.5rem;
    margin-left: 3.6rem;
    padding: 0.5rem;
    /* min-height: 100%; */
   
}

/* set the hover and transition in/out for the container and header*/

/* div.card-container:hover,  
div.card-header:hover {
    box-shadow: inset 0px 0px 8px
    rgb(38, 241, 255), 0 0 15px
    rgba(38, 241, 255, 1);
    border-radius: 10px;
    transition: all 3s ease-in-out;
} */

div.card-container:hover,  
div.card-container:hover div.card-header {
    box-shadow: inset 0px 0px 8px
    rgb(38, 241, 255), 0 0 15px
    rgba(38, 241, 255, 1);
    border-radius: 10px;
    transition: all 3s ease-in-out;
}

/* stying for the individual cards - the stuff INSIDE the indivudal flex containers*/

/* div.card {
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    min-height: 100%;

} */

/* div.card p {
    margin: 1rem;
} */

/* styling for code snippets */

pre.code-snippet {
    /* Just so I can see the bounding edges -  */
    /* border: 2px solid hotpink; */
    background: linear-gradient(#333284, #000000);
    font-family: monospace;
    color:aliceblue;
    border-radius: 3px;
    margin: 1rem;
    display:flex;
    flex-direction: row;
    flex: 1 0 90%;
    align-items: center;
    /* min-height: 300px; */
    /* flex: 1;
    align-items: space-evenly; */
    
/* thank you stackoverflow for this soulution to wrap the code snippet within its container */
        white-space: pre-wrap;
        word-break: keep-all;
     
}

footer {
    text-align: center;
    padding: 2rem;
    color:var(--aqua);
}

/* Make the website responsive for smaller screens with a media query */

@media screen and (min-width: 768px){
    .bounding-box{
        flex-grow: 1;
        flex-shrink: 0;
         flex-basis: 50%;
         max-width: 50%
    }
} 

@media screen and (min-width: 992px){

    .bounding-box{
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 33%;
        max-width: 33%
    }
} 